NODE_ENV=development
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@opturon.com
ADMIN_PASSWORD=
ADMIN_PASSWORD_HASH=

API_BASE_URL=https://api.opturon.com
API_DEBUG_KEY=123
API_TIMEOUT_MS=10000

NEXT_PUBLIC_WHATSAPP_NUMBER=5492915665793
NEXT_PUBLIC_WHATSAPP_PREFILL=Hola Opturon, quiero automatizar WhatsApp y procesos internos. ¿Cómo empezamos?

NEXT_PUBLIC_GA4_ID=G-XXXXXXXXXX
NEXT_PUBLIC_META_PIXEL_ID=123456789012345
